<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Update a ToDo:<br>
    <form action="/todos/<%= todo.id %>/update?_method=PUT" method="POST">
        <label>Todo that you want to Update:</label>
        <input name="newerTodo" value="<%= todo.todo %>"/>
        <button>Update</button>
    </form>
</body>
</html>