<!DOCTYPE html>
<html>
  <head>
    <title>Flights Details</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <section id="show-page">
      <div>Flight Airline:</div>
      <div><%= flightsDetails.airline %></div>
      <div>Flight Airport:</div>
      <div><%= flightsDetails.airport %></div>
      <div>Flight Number:</div>
      <div><%= flightsDetails.flightNo %></div>
      <div>Flight Depart:</div>
      <div><%= flightsDetails.departs %></div>
    </section>
  </body>
</html>