<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Title HERE</title>
  </head>
  <body>
    <nav>
      <a href="/flights/new">Add Flight </a>
      <a href="/flights">All Flights</a>
      <img
        src="https://www.libertytravel.com/sites/default/files/styles/full_size/public/flight-hero.jpg?itok=hhscHSGZ"
        width="50"
        height="50"
      />
    </nav>
    <main>
      <h1>Title HERE</h1>
    </main>
  </body>
</html>
