<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Here is a list of todos:<br>
        <% for (let todo of todos) { %>
            <%= todo.id %> - <%= todo.todo %><br>
        <% } %>

    <form method="POST" action="/todos/submit">
        <label for="addTodo">Add a Todo:</label>
        <input id="addTodo" name="addTodo" />
        <button>Submit</button>
    </form>
</body>
</html>