<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <marquee>
        Welcome to pokemonify.com
    </marquee>




    <% for (let i = 0; i < pokemon_list_from_db.length; i++) { %>
        <a href="">
            <div>
                <%= pokemon_list_from_db[i].name %>
            </div>
        </a>
    <% } %>






</body>
</html>