<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header class="header">
        Users
    </header>
    <div class="cards">
        <% for (let i=0; i < users.length; i++) { %>
            <a href="/users/<%= users[i].id %>">
                <div class="card">
                    <div class="underline"><%= users[i].name %></div>
                    <div class="small-text">
                        Mood: <%= users[i].mood %>
                    </div>
                </div>
            </a>
        <% } %>
    </div>
</body>
</html>